/* CSS du projet 2 : Réservia */

@font-face 
{
	font-family: "Raleway";
	src: url('../fonts/Raleway-Regular.ttf');
}

@font-face 
{
	font-family: "Raleway";
	font-weight: bold;
	src: url('../fonts/Raleway-Bold.ttf');
}

body
{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    display:flex;
    flex-direction:column;
    justify-content:flex-start ;
    align-items: flex-start;
    flex-wrap:nowrap;
    margin:0px;
}
.titre_section
{
    font-size: 22px;
}

.titre_article
{
    font-size: 20px;
    font-weight:bold;
}

/* Astuce trouvée sur internet pour décaler les ancres du fait du menu de navigation */
/* Non utilisé
section:target 
{
    padding-top: 2em; 
    margin-top: -2em; 
}
*/

#entête, #Element_Haut, #hébergement, #activité
{
    margin-left:50px;
    width:1340px;
}
#entête
{
    padding:0px 5px;
    display:flex;
    flex-direction:row;
    justify-content:space-between ;
    align-items: center;
    background-color: white;   
}
#inscription
{
    color:#0065FC;
}
.menu_nav
{
    min-height:110px;
}
#menu_heb
{
    border-top:#0065FC solid 2px;
    color:#0065FC;
}
#menu
{
    display:flex;
    flex-direction:row;
    justify-content:space-between ;
    align-items: center;
    vertical-align: middle;
}
nav
{
    display:flex;
    flex-direction:row;
    justify-content:space-between ;
    align-items: center;
    text-align: center;
}
nav a
{
    display:flex;
    flex-direction:row;
    align-items: center;
    color:black;
    text-decoration: none;
}
#nav_2
{
    display:none;
}
#menu a
{
    padding: 0px 22px 0px 28px;
    margin:0px 17px;
}

#flitres, #information
{
    margin-left: 5px;
}

/* CSS du projet de l'entête et du nav */
#logo_img
{
	max-height: 50px;
}
/* CSS de la partie haute */

/* fonction recherche */
#Element_Haut form p
{
    height: 48px;
    display:flex;
    flex-direction:row;
    justify-content:space-between ;
    align-items: center;
    border:1px #F2F2F2 solid;
    border-radius: 16px ;
    flex-wrap:nowrap;
    width:420px;
    min-width: 420px;
    border-right: none;    
}
#Element_Haut h1
{
    margin:0px;
}
#Element_Haut
{
    padding:0px 5px;  
}
#Element_Haut header p
{
    margin-top:10px;    
}
#icone_géo
{
    background-color: #F2F2F2;
    border-radius: 16px 0px 0px 16px;
    border-left:none;
    height:50px ;
    width:50px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;    
}
#recherche
{
    height:48px;
    border:none;
    width: 234px;
    font-size:16px;
    padding: 0px 10px;
    font-weight: bold;
}
#mot_recherche
{
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    color:white;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    height:50px ;
    padding: 0px 5px;
    width:134px;
    font-weight: bold;
}
#icone_recherche
{
    background-color: #0065FC;
    border-radius: 16px 16px 16px 16px;
    color:white;
    height:50px ;
    min-width:50px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    display:none;
}

/* Icones "filtres" */
.icones_filtres
{
    border-radius: 100%;
    background-color: #DEEBFF;
    color:#0065FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
.fa-map-marker-alt
{
    background-color: #F2F2F2;
}
#filtres
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items:center;
    max-width: 100%;
    margin:32px 5px;
    font-size: 1.1em;
}
#filtres span
{
    text-transform: uppercase;    
}
.filtres
{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    margin:0px 12px;
    align-items:center;
    border-radius: 32px;
    border:#F2F2F2 2px solid;
    height:46px;
    border-left:none;
    text-decoration: none;
    color:black ;
    font-weight: bold; 
}

#filtres a:hover
{
    /* L'image est grossie de 10% */
    /*-webkit-transform:scale(1.1); /* Safari et Chrome */
    /*-moz-transform:scale(1.1); /* Firefox */
    /*-ms-transform:scale(1.1); /* Internet Explorer 9 */
    /*-o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
.filtres p
{
    padding:0px 22px 0px 10px;
    margin:0px 0px;
}
#mot_filtre
{
    margin-right:32px;
    font-weight: bold;
}
#information i
{
    font-size: 10px;
    color:#0065FC;       
}
#information
{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items:center;
}
#info
{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
    margin-left:5px;
    margin-right: 10px;
    border-radius: 100%;
    border:#F2F2F2 1px solid;
    height:22px;
    width:22px;
    text-align:center;
}
#information p
{
    margin:0px;
}

/* CSS de la partie milieu sur les logements */

#hébergement
{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    margin:32px 50px;    
}
.titre_article
{
    font-size: 16px;  
}
#hébergement p
{
    font-size: 0.8em;
    margin-top:6px;
    margin-bottom:8px;    
}
#hébergement h3
{   
    margin-bottom: 6px;
    margin-top:10px;   
}

#hébergement h1
{
    display:none
}
/* CSS de la partie gauche "Hébergements"*/

#lieu
{
    width:800px;
    background-color: #F2F2F2;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    border-radius: 16px; 
    width:880px;
    padding:0px 25px;   
}
#lieu header
{
    margin-top:45px;
    margin-bottom: 25px;    
}
#lieu footer
{
    margin:8px 16px 30px 16px; 
}
#lieu header
{
    margin:15px 16px 5px 16px;
}
#liste_hebergement h3
{   
    margin-left:8px;
    margin-right:8px;
}
.article_hebergement p,.article_hebergement h2
{
    margin:8px 8px;
}
#liste_hebergement
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-end;
    min-width:100%;
}
#liste_hebergement a
{
    text-decoration: none;
    color:black ;
    background-color: white;
    border-radius: 16px;
    /*border:white 5px solid;*/
    margin: 0px 15px 30px 15px;
    min-width:236px;
    box-shadow: 0px 5px 10px #dddcdc;
    height:190px;
    padding:5px;
}
#liste_hebergement a:hover
{
    /* L'image est grossie de 10% */
    /*-webkit-transform:scale(1.1); /* Safari et Chrome */
    /*-moz-transform:scale(1.1); /* Firefox */
    /*-ms-transform:scale(1.1); /* Internet Explorer 9 */
    /*-o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
.img_hebergement
{
    display:none; 
}
.dim_img_heb
{
    height: 114px;
    border-radius: 16px 16px 0px 0px;
    margin:0px 0px;
}
/* Utilisation de background pour "couper les photos" */
#heb_1 div
{
    background: url("../img/small/marcus-loke-WQJvWU_HZFo-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}
#heb_2 div
{
    background: url("../img/small/fred-kleber-gTbaxaVLvsg-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}
#heb_3 div
{
    background: url("../img/small/reisetopia-B8WIgxA_PFU-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}
#heb_4 div
{
    background: url("../img/small/annie-spratt-Eg1qcIitAuA-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}
#heb_5 div
{
    background: url("../img/small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}
#heb_6 div
{
    background: url("../img/small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}

/* Pour les étoiles, simplification des lignes */
#heb_1 i:nth-child(1){color:#0065FC;}
#heb_1 i:nth-child(2){color:#0065FC;}
#heb_1 i:nth-child(3){color:#0065FC;}
#heb_1 i:nth-child(4){color:#0065FC;}
#heb_1 i:nth-child(5){color:#F2F2F2;}

#heb_2 i:nth-child(1){color:#0065FC;}
#heb_2 i:nth-child(2){color:#0065FC;}
#heb_2 i:nth-child(3){color:#0065FC;}
#heb_2 i:nth-child(4){color:#0065FC;}
#heb_2 i:nth-child(5){color:#0065FC;}

#heb_3 i:nth-child(1){color:#0065FC;}
#heb_3 i:nth-child(2){color:#0065FC;}
#heb_3 i:nth-child(3){color:#0065FC;}
#heb_3 i:nth-child(4){color:#0065FC;}
#heb_3 i:nth-child(5){color:#F2F2F2;}

#heb_4 i:nth-child(1){color:#0065FC;}
#heb_4 i:nth-child(2){color:#0065FC;}
#heb_4 i:nth-child(3){color:#0065FC;}
#heb_4 i:nth-child(4){color:#F2F2F2;}
#heb_4 i:nth-child(5){color:#F2F2F2;}

#heb_5 i:nth-child(1){color:#0065FC;}
#heb_5 i:nth-child(2){color:#0065FC;}
#heb_5 i:nth-child(3){color:#0065FC;}
#heb_5 i:nth-child(4){color:#0065FC;}
#heb_5 i:nth-child(5){color:#F2F2F2;}

#heb_6 i:nth-child(1){color:#0065FC;}
#heb_6 i:nth-child(2){color:#0065FC;}
#heb_6 i:nth-child(3){color:#0065FC;}
#heb_6 i:nth-child(4){color:#0065FC;}
#heb_6 i:nth-child(5){color:#0065FC;}


/* CSS de la partie droite "Populaire"*/
#populaire
{
    background-color: #F2F2F2;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    border-radius: 16px;
    margin-left:40px;
    min-width: 376px;
    padding:0px 22px;
}
#populaire header
{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    margin:15px 16px 5px 16px;
}
#populaire header i
{
    font-size:125%;
}
#liste_populaire
{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;   
}
.article_populaire
{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;    
}
#liste_populaire a
{    
    text-decoration: none;
    color:black ;
    background-color: white;
    border-radius: 16px;
    /* border:white 5px solid;*/
    min-width:317px;
    height: 134px;
    margin: 0px 15px 32px 15px;
    box-shadow: 0px 5px 10px #dddcdc;  
    padding:5px;  
}
#liste_populaire a:hover
{
    /* L'image est grossie de 10% */
    /*-webkit-transform:scale(1.1); /* Safari et Chrome */
    /*-moz-transform:scale(1.1); /* Firefox */
    /*-ms-transform:scale(1.1); /* Internet Explorer 9 */
    /*-o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
.dim_p_pop
{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.img_populaire
{
    display:none; 
}
.dim_img_pop
{
    height: 134px;
    border-radius: 16px 0px 0px 16px;
    margin:0px 0px;
    width:127px;
}
.dim_p_pop
{
    padding:0px 21px;
}
.dim_p_pop p
{
    margin:8px 0px;
}
#pop_1 div[class="dim_img_pop"]
{
    background: url("../img/small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}
#pop_2 div[class="dim_img_pop"]
{
    background: url("../img/small/aw-creative-VGs8z60yT2c-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}
#pop_3 div[class="dim_img_pop"]
{
    background: url("../img/small/febrian-zakaria-sjvU0THccQA-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
}

/* Pour les étoiles, simplification des lignes */
#pop_1 i:nth-child(1){color:#0065FC;}
#pop_1 i:nth-child(2){color:#0065FC;}
#pop_1 i:nth-child(3){color:#0065FC;}
#pop_1 i:nth-child(4){color:#0065FC;}
#pop_1 i:nth-child(5){color:#0065FC;}

#pop_2 i:nth-child(1){color:#0065FC;}
#pop_2 i:nth-child(2){color:#0065FC;}
#pop_2 i:nth-child(3){color:#0065FC;}
#pop_2 i:nth-child(4){color:#0065FC;}
#pop_2 i:nth-child(5){color:#F2F2F2;}

#pop_3 i:nth-child(1){color:#0065FC;}
#pop_3 i:nth-child(2){color:#0065FC;}
#pop_3 i:nth-child(3){color:#0065FC;}
#pop_3 i:nth-child(4){color:#0065FC;}
#pop_3 i:nth-child(5){color:#F2F2F2;}

/* CSS de la partie activités */
#activité_main
{
    margin-bottom:60px;
    display:flex;
    flex-direction:row;
    justify-content:space-between ;
}
.activité_col
{
    height:445px;
    width:302px;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-between ;
}
.activité_col a
{    
    text-decoration: none;
    color:black ;
}
.activité_col a:hover
{
    /* L'image est grossie de 5% */
    /*-webkit-transform:scale(1.05); /* Safari et Chrome */
    /*-moz-transform:scale(1.05); /* Firefox */
    /*-ms-transform:scale(1.05); /* Internet Explorer 9 */
    /*-o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
.activité_col article
{
    box-shadow: 0px 5px 10px #F2F2F2;
    border-radius: 16px ;
}
.dim_p_act h2
{
    height:55px;
    margin:0px 0px 0px 20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start ;
    align-items: center;
}
.img_activités
{
    display:none;
}
.dim_img_act
{  
    border-radius: 16px 16px 0px 0px;
    margin:0px 0px;
}
#act_1 div[class="dim_img_act"]
{
    background: url("../img/activite/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
    height: 390px;
}
#act_2 div[class="dim_img_act"]
{
    background: url("../img/activite/paul-hermann-QFTrLdQIRhI-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
    height: 182px;
}
#act_3 div[class="dim_img_act"]
{
    background: url("../img/activite/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
    height: 109px;
}
#act_4 div[class="dim_img_act"]
{
    background: url("../img/activite/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
    height: 390px;
}
#act_5 div[class="dim_img_act"]
{
    background: url("../img/activite/florian-wehde-xW9e8gdotxI-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
    height: 140px;
}
#act_6 div[class="dim_img_act"]
{
    background: url("../img/activite/lena-paulin-wH2-EJoDcV0-unsplash.jpg") no-repeat scroll center;
    background-size: cover;
    height: 154px;
}
#act_1, #act_4 
{
    height:445px;
    width:302px;
}
#act_2 
{
    height:237px;
    width:302px;
}
#act_3 
{
    height:164px;
    width:302px;
}
#act_5 
{
    height:195px;
    width:302px;
}
#act_6
{
    height:209px;
    width:302px;
}
.dim_p_act span
{
    text-transform: uppercase;
}

/* CSS du bas de page */

#footer
{
    width: 1440px;
    background-color: #F2F2F2;
    display:flex;
    flex-direction:row;
    justify-content:flex-start ;
    
}
#footer article
{
    width: 24%;
    margin:32px 50px;
}
#footer h2
{   
    font-size:20px; 
}
#footer p
{   
    font-size:14px; 
}
@media all and (max-width: 1024px)
{
    /* Vos règles CSS pour les tablettes ici */
    #logo,#Element_Haut header,#Element_Haut form,#filtres,#information
    {
        margin-left: 20px;
    }
    #hébergement
    {
        display:flex;
        flex-direction:column-reverse;
        flex-wrap:wrap;
        margin:32px 50px;    
    }

    #entête, #Element_Haut, #hébergement, #activité
    {
        margin-left:0px;
        margin-right:0px;
        padding-left:0px;
        padding-right: 0px;
        width:100%;
    }
    
    #populaire
    {
        
        border-radius: 0px;
        margin-left:0px;
        width: 100%;
        padding:0px 0px;
        margin-bottom:30px;
    }
    


    #populaire header
    {
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-between;
        align-items: center;
        margin:5px 3% 5px 3%;
    }
    #liste_populaire
    {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;   
        justify-content: space-around;
    }
    #liste_populaire a
    {    
        width:44%;
        min-width:100px;
        height: 135px;
        margin:0px 0px 32px 0px;
    }

    .dim_img_pop
    {
        height: 135px;
        min-width:100px;
        width:40%;
        
    }
    .dim_p_pop
    {
        height: 135px;
        width:60%;
        padding: 0px 5%;
    }
    #lieu
    {
        width:100%;
        background-color:white;
        
        
        padding:0px;
    }
    #lieu header
    {
        width:80%;
        margin-left:3%;
    }
    #lieu footer
    {
        width:80%;
        margin-left:3%;
        margin-top:20px;
    }
    #liste_hebergement
    {
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around ;
        align-items: space-around;
    }
    #liste_hebergement a
    {
        width:28.5%;
        min-width:127px;
        margin: 15px 0px 15px 0px;
    }


    #activité_main
    {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center ;
        align-items: space-between;
    }
    .activité_col
    {
        height:auto;
        min-width:300px;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-between ;
        align-items: space-between;
        margin:10px 20px 20px 10px ;
        width:45%;
        
    }
    .activité a
    {
        margin: 0px 30px;
    }    
    #act_2 div[class="dim_img_act"],#act_3 div[class="dim_img_act"],#act_5 div[class="dim_img_act"],#act_6 div[class="dim_img_act"]
    {
        height: 134px;
    }
    #act_2, #act_3, #act_5, #act_6
    {
        height:190px;
        min-width:300px;
        width:100%;
    }
    #act_1 div[class="dim_img_act"],#act_4 div[class="dim_img_act"]
    {
        height: 354px;
    }
    #act_1, #act_4
    {
        height:410px;
        min-width:300px;
        width:100%;
        
    }
    #activité header
    {
        width:80%;
        margin-left:3%;
    }
    #footer
    {
        width: 100%;
        display:flex;
        flex-direction:row;
        justify-content:space-around ;
        padding:32px 0% 32px 0%;
        
    }
    #footer article
    {
        margin:0px;
        min-width:200px;
    }
  
}

/*@media all and (max-device-width: 480px)*/
@media all and (max-width: 700px)
{
    /* Vos règles CSS pour les mobiles ici */
    #liste_hebergement a
    {
        width:45%;
        min-width:127px;
        margin: 15px 0px 15px 0px;
        
    }
    
    #liste_populaire
    {
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;   
        justify-content: space-around;
        align-items:center;
    }
    #liste_populaire a
    {    
        width:90%;
        min-width:325px;
        height: 135px;
        margin:0px 0px 32px 0px;
    }

    .dim_img_pop
    {
        height: 135px;
        min-width:100px;
        width:40%;
        
    }
    .dim_p_pop
    {
        height: 135px;
        width:60%;
        padding: 0px 1% 0px 5%;
    }
    .activité_col
    {
        height:auto;
        min-width:335px;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:flex-start ;
        align-items: space-between;
        margin:0px ;
        width:90%;
        
    }
    .activité_col a
    {
        margin:12px 0px ;
        
    }
      
    #act_2 div[class="dim_img_act"],#act_3 div[class="dim_img_act"],#act_5 div[class="dim_img_act"],#act_6 div[class="dim_img_act"],#act_1 div[class="dim_img_act"],#act_4 div[class="dim_img_act"]
    {
        height: 134px;
    }
    #act_2, #act_3, #act_5, #act_6,#act_1, #act_4
    {
        height:190px;
        min-width:335px;
        width:100%;
        
    }

    #footer
    {
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content:flex-start ;
        align-items: flex-start;
        
    }
    #footer article
    {
        margin-left:5.5%;
        min-width:250px;
    }
    #populaire header
    {
        
        margin-left:5.5%;
    }
    #activité header
    {
        margin-left:5.5%;
    }
    #lieu header
    {
        margin-left:5.5%;
    }
    #lieu footer
    {
        margin-left:5.5%;
    }
    
    #nav_1
    {
        display:none;
    }
    #nav_2
    {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:center ;
        align-items: center;
        width:100%;
        text-align: center;
        
        
    }
    .menu_nav{
        width:50%;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:center ;
        align-items: center;
        text-align: center;
    }
     
}
@media all and (max-width: 480px)
{
    /* Vos règles CSS pour les mobiles ici */
    #liste_hebergement a
    {
        width:90%;
        min-width:127px;
        margin: 15px 0px 15px 0px;
        
    }
    #mot_filtre{
        width:80%;
        margin-top:0px;
    }
    .filtres{
        margin: 0px 0px 15px 0px;
    }
    .filtres p
    {
        padding-right: 10px;
    }
    #filtres{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:space-between ;
        align-items: flex-start;
        margin-right: 20px;
    }
    #mot_recherche
    {
        display:none;
    }
    #icone_recherche
    {
        background-color: #0065FC;
        border-radius: 16px 16px 16px 16px;
        color:white;
        height:50px ;
        min-width:50px;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
    }
    #recherche
    {

        width: 230px;

    }
    #Element_Haut form p
    {
        
        width:330px;
        min-width: 330px;
        border-right: none;    
    }
    #populaire
    {
        min-width: 0px;
    }
    

}